
body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0; 
  padding: 0; 
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: #333;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar a:focus,
.sidebar a:hover {
  color: #007bff;
}

.content {
  flex-grow: 1;
  padding: 20px;
}


.note-list-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-container {
  display: flex;
  flex-direction: column;
}

.notes-row {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
}

.note-box {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid white; 
  width: 250px; 
  min-height: 100px; 
}

.note-box h3 {
  margin-top: 0;
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
}

.note-box p {
  margin-bottom: 10px;
  overflow: hidden; 
  word-wrap: break-word; 
}

.note-box button {
  margin-right: 10px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  font-size: 20px; /* Adjust size as needed */
}

.delete-icon {
  color: white; /* Set the color of the icon to white */
  font-size: 20px; /* Adjust size as needed */
  margin: 5px; /* Add margin around the icon */
}